body{
    font-family: 'Noto Sans TC';
    font-style: normal;
    color:dimgrey;
}
.index-frame{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-color:cornsilk;
    box-sizing: border-box;
}
.chat-frame{
    width: calc(100% - 140px);
}
.response-frame{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;  
    height: calc(100% - 75px);
    padding: 10px;
    gap: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.response-gpt-frame, .response-gemini-frame, .response-claude-frame{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.response-gpt-text, .response-gemini-text, .response-claude-text{
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    box-sizing: border-box;
    align-self: flex-start;
    gap: 10px;
    height: calc(100% - 40px);
    overflow-y: auto;
}
.request-frame{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
}
#request-thumbnail{
    height: 50px;
    margin-left: 65px;
    margin-bottom: 0;
    margin-top: 5px;
    border-radius: 5px;
    display:none;
}
.newrequest_img{
    height: 50px;
    border-radius: 5px;
    object-fit:contain;
    object-position: center;
    align-self: flex-end;
}
.request-input{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
}
.margin-frame{
    width: 140px;
    padding: 10px;

    display:flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
}
.logo{
    width: 100px;
    height: 100px;
}
.button_member{
    /* color: white; */
    /* background-color: burlywood; */
    font-size: 14px;
    font-weight: 700;
    text-align:center;
    box-sizing: border-box;
    line-height: 1.5;
    cursor: pointer;

    width:100%;
    padding: 5px;
    /* border-radius: 5px; */
}
.button_member:hover{
    /* background-color: #FABC6B; */
    font-weight:1300;
}
.ai-name{
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
}
hr{
    border: 1px solid #E8E8E8;
    margin: 0 auto; /* Center horizontally*/
    width: calc(100% - 10px);
}
.request-pic, .request-voice{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    cursor: pointer;
}
#fileInput {
    display: none;
}

.request-form{
    width: 100%;
}
.request-form input[type="text"] {
    border: none; /* Remove default border */
    outline: none; /* Remove focus outline */
    width: calc(100% - 70px);
    margin-left: 5px;
}
.request-form button {
    background-color:burlywood;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    padding: 10px;
}
.request-text{
    background-color:oldlace;
    border-radius: 5px;
    width: 70%;
    max-width: 70%;
    align-self: flex-end;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 1.5;
    overflow-wrap: break-word;
}
/* mistyrose */
.response-text-openai, .response-text-gemini, .response-text-claude{
    border-radius: 5px;
    width: 70%;
    max-width: 70%;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 1.5;
    white-space: normal;
}
.response-text-openai{
    background-color:#FFF0AC;
}/* navajowhite, #ffda77 */
.response-text-gemini{
    background-color:#B3E8FF;
}/* lightblue, #69c6ed */
.response-text-claude{
    background-color:#FFE4E0;
}/* lightblue, #69c6ed */
pre{
    white-space: pre-wrap; 
    word-wrap: break-word; 
    overflow: auto; 
    margin: 0; 
    padding: 0;
}
/* conversation history */
#new-conversation {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color:burlywood;
    /* background-color: #4CAF50; */
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 700;
}
#new-conversation:hover, .request-form button:hover{
    background-color: #FABC6B;
    /* background-color: #ccc; */
}

#conversation-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    height: calc(100% - 100px);
    /* max-height: 100%; */
    overflow-y: auto;
}

#conversation-list li {
    width:100%;
    padding: 10px;
    margin-bottom: 10px;
    /* background-color: #ddd; */
    /* background-color: #FFFEFA; */
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
}
.con_link{
    display:block;
    width:100%;
    text-decoration: none;
    color:dimgrey;
}

#conversation-list li:hover {
    background-color: #FFFEFA;
    /* background-color: #ddd; */
    /* background-color: #ccc; */
}